logs/*
!logs/.gitkeep
*.log
*.pcap
*.pcapng
eve.json*
fast.log*
stats.log*

rules/*.rules
!configs/suricata/rules/local.rules
!configs/suricata/rules/.gitkeep
data/
datasets/

.env
.env.*
!.env.example
*.pem
*.key
*.crt

.docker/
docker-compose.override.yml

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.ipynb_checkpoints/
models/*.pkl
models/*.joblib
models/*.onnx

.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*~
.directory